@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 42, 42, 42;
  --background-start-rgb: 251, 248, 243;
  --background-end-rgb: 245, 240, 230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
}